
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li{
    list-style-type: none;
}
nav {
    padding: 30px;
    background: #02545a; /*linear-gradient(#02545a, #3632328b);*/
    margin: 0em;
}
nav .Logo a {
    float: left;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    align-items: center;
    right: 0em;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    float: right;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color:aliceblue;
    bottom: 0%;
}

.MainContent {
    position: relative;
    width: 100%;
    margin-top: 0%; 
    
   
}

.BottomNavbar {
    height:20%;
    position:absolute;
    background-color: rgb(32, 32, 32);
    width: 100%;
}

.VerticalLine {
    border-left: 1px solid green;
    height: 30px;
  }

.Links{
    display: block;
    justify-items: center;
}
.Links a{
    color: rgb(153, 151, 151);
}
.col{
    width: auto;
    float: left;
    padding-left: 15%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.col p {
    font-size: larger;  
    color: rgb(190, 189, 189);
}
.col a {
    font-weight: 300;
}

.latestArticle {
    margin-left: 5%;
    display: inline-block;
}

.latestArticle img {
    width: 500px;
    height: 400px;
}



.videoSection {
    margin-left: 5%;
    margin-bottom: 20%;

}