{% extends 'base.html' %}

{% block body %}
<h1>Current Sharks News</h1>
<div class="latestArticle">
    <img src="../static/Media/Images/HockeyStock.jpg">
    <h2>LATEST ARTICLE TITLE</h2>
    <p>Article Preview with a character limit of 150 charcters</p>
</div>
<div class="videoSection">
<iframe width="560" height="315" src="https://www.youtube.com/embed/hG2acfD7j_k?si=9osfAa3q4nkSCy8G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

{% endblock %}
