{% extends 'base.html' %}
    <link rel="stylesheet" href="../static/CSS/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% block body %}
<div class="Title">
<h1>Current Sharks News</h1>
</div>
<div class="article-section">
{% for article_num in range(0, 5) %}

    <div class="article">
        <img src="{{article['article'][article_num]['photo']}}">
        <h2>Title: {{article['article'][article_num]['title']}} </h2>
        <p>Author: {{article['article'][article_num]['author']}} </p>
    </div>

{% endfor %}
</div>
</div>
<div class="article">
    <div class="videoSection">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hG2acfD7j_k?si=9osfAa3q4nkSCy8G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <h2>Title: Subtitle name </h2>
    <p>Author: Author name </p>
</div>

{% endblock %}
